<a
  class="border rounded-lg p-4 flex flex-col gap-3 hover:shadow-md transition h-full cursor-pointer no-underline text-inherit"
  [routerLink]="['/recipes', recipe.id]"
>
<img
    [src]="recipe.imageUrl"
    [alt]="recipe.title"
    class="w-full h-40 object-cover rounded"
  />

  <h2 class="font-semibold text-lg">{{ recipe.title }}</h2>

  <p class="text-gray-700 text-sm">
    {{ recipe.description | slice:0:100 }}
    <span *ngIf="recipe.description.length > 100">...</span>
  </p>

  <div class="flex items-center gap-2 mt-auto">
    <span [mealColor]="recipe.meal">{{ recipe.meal }}</span>
    <span class="text-sm text-gray-600">• Serves {{ recipe.servings }}</span>
  </div>
</a>
